<style>
    .page-login{
      text-align: center;
      margin: 60px 0;
    }
    .page-login h1{
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 35px;
    }
    .login-form form{
      flex-direction: column;
    }
    .login-form form input{
      height: 4.5rem;
      width: 40%;
      margin-bottom: 35px;  
      font-size: 1.6rem;
      padding-left: 15px;
    }
    .login-form form input::placeholder{
      font-size: 1.6rem;
    }
    .login-form form a{
      font-size: 1.6rem;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .login-form button {
      background-color: rgb(226 226 226);
      margin-bottom: 20px;
      letter-spacing: 0;
      font-size: 1.8rem;
    }
</style>

<div class="page-login">
    <h1>Create account</h1>
    <div class="login-form">
      <form action="/action" class="df">
        <input type="text" placeholder="Fisrt name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Password">

        <button class="btn">Creat</button>

      </form>
    </div>
</div>