
<style>
  .password-header {
    padding: 20px 0;
  }
</style>


<div class=" container">
  <div class="password-header dfs">
    <h1 class="password-header__heading">
      {{ shop.name }}
    </h1>
    <div class="password-header__using">
      Enter using password
    </div>

  </div>

</div>