<style>
    .page__404{
      margin-top: 60px !important;
      margin-bottom: 100px !important;
      text-align: center;
    }
    .page__404 h2{
      font-size: 4rem;
    }
    .page__404 p{
      font-size: 2.5rem;
      margin: 40px 0;
    }
    .page__404 a{
      background-color: rgb(226 226 226);
      letter-spacing: 0;
    }
</style>

<div class="page__404 grid wide">
  <h2>{{ "templates.404.subtext" | t }}</h2>
  <p>{{ "templates.404.title" | t }}</p>
  <a href="{{ routes.all_products_collection_url }}" class="btn">
    {{ "templates.404.back_shop" | t }}
  </a>
</div>