

<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

<div class="hero-container">
    <div class="hero-container__wrap">

        <div id="lastClone" class="slider-contain slider-main ">
            <img src="	https://thanh991999.github.io/Decaclo_figma/assets/img/slide-img-1.jpg" alt="" class="slider-img" >

            <div class="slide-text grid wide1 container__small">
                <h1 class="hero-heading heading text-color">
                    DECORAZIONI PER LE FESTE
                </h1>
                <div class="button">
                    <a href="./shop.html" class="btn">
                        SHOP NOW
                    </a>
                </div>
            </div>
           
        </div>

        <div class="slider-contain slider-main ">
            <img src="	https://thanh991999.github.io/Decaclo_figma/assets/img/slide-img-1.jpg" alt="" class="slider-img" >

            <div class="slide-text grid wide1 container__small">
                <h1 class="hero-heading heading text-color">
                    DECORAZIONI PER LE FESTE
                </h1>
                <div class="button">
                    <a href="./shop.html" class="btn">
                        SHOP NOW
                    </a>
                </div>
            </div>
           
        </div>

        <div class="slider-contain slider-main ">
            <img src="	https://thanh991999.github.io/Decaclo_figma/assets/img/slide-img-1.jpg" alt="" class="slider-img" >

            <div class="slide-text grid wide1 container__small">
                <h1 class="hero-heading heading text-color">
                    DECORAZIONI PER LE FESTE
                </h1>
                <div class="button">
                    <a href="./shop.html" class="btn">
                        SHOP NOW
                    </a>
                </div>
            </div>
           
        </div>

        <div id="firstClone" class="slider-contain slider-main ">
            <img src="	https://thanh991999.github.io/Decaclo_figma/assets/img/slide-img-1.jpg" alt="" class="slider-img" >

            <div class="slide-text grid wide1 container__small">
                <h1 class="hero-heading heading text-color">
                    DECORAZIONI PER LE FESTE
                </h1>
                <div class="button">
                    <a href="./shop.html" class="btn">
                        SHOP NOW
                    </a>
                </div>
            </div>
           
        </div>
        
    </div>
    
    <button class="next-btn">
        <i class="bi bi-chevron-right"></i>
    </button>
    <button class="pre-btn">
        <i class="bi bi-chevron-left"></i>
    </button>

   
    
</div>

{% schema %}
{
    "name": "Thanh",
    "blocks": [
        {
            "name": "Custom image slide",
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "Slider"
            
        }
    ]
}
{% endschema %}