
<h1 class="heading heading-history background_secondary">
  {{ page.title }}
</h1>

{% schema %}
{
  "name": "Sub Header",
  "settings": [
  ],
  "presets": [
    {
      "name": "Sub Header"
    }
  ]
}
{% endschema %}