{% if page.title != blank %}
  <h1 class="heading heading-history background_secondary">
    {{ page.title }}
  </h1>
{% endif %}

{% schema %}
{
  "name": "Sub Header",
  "settings": [
  ],
  "presets": [
    {
      "name": "Sub Header"
    }
  ]
}
{% endschema %}