.product-show__quantity {
  font-size: 1.6rem;
  color: #ffe3e3;
  border-radius: 20px;
  padding: 5px 10px;
  border: 0.1px solid #ffffff47;
  position: absolute;
  top: 319px;
  left: 0;
}

.product-badge {
  top: 20px;
  bottom: inherit;  
}

.product-badge--modify {
  border-radius: 20px;
  padding: 5px 10px;
  border: 0.1px solid #ffffff47;
}

.product-badge__wrap {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 1.6rem;
  background: transparent;
  color: #fff;
  
}

.product-badge--orange {
  background: #FF8A00;
}

.product-badge--red {
  background: red;
}

.product-badge--green {
  background: green;
}

.custom-size {
  font-size: 3.6rem;
  line-height: 1.1em;
  text-shadow: 0 0 1px #000;
}

.image-banner__btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #1E1EE7;
  text-transform: uppercase;
  padding: 9px 20px;
}

.button_wrap .image-banner__btn:first-child {
  background-color: #1E1EE7;
  color: #fff;
  margin-right: 20px;
}

.collection-text {
  max-width: 669px;
}

.image-baner__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.padding-leftbottom {
  padding-top: 285px;
  padding-bottom: 85px;

}

.content-bgc {
    max-width: 669px;
    margin: auto;
    padding: 32px;
    background: #fff;
}

.bgc-tran {
  background: transparent;
}

.image-baner__height {
  display: flex;
}

.image-baner__height.vh--50{
  height: 50vh;
}

.image-baner__height.vh--70{
  height: 70vh;
}

.image-baner__height.vh--100{
  height: 100vh;
}

.image-banner__pos-left {
  margin-left: 0;
}

.image-banner__pos-leftbot {
  margin-left: 0;
  margin-bottom: 100px;
}

.change-color__text .collection-text,
.change-color__text .text-color {
  color: #000;
}

.change-color__text .image-banner__btn:nth-child(2) {
  border: 1px solid #1e1ee7;
}


.hidden_desktop{
  display:block;
}

.hidden_mobile {
  display: none;
}

.gutter-padding {
  padding: 0 15px;
}

